@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
* {outline-width: 0;	font-family: 'Roboto';}


#basic-loader {
  background: transparent;
  width: 25px;
  height: 25px;
  border-top: 5px solid rgba(140, 140, 140, 0.3);
  border-right: 5px solid rgba(140, 140, 140, 0.3);
  border-bottom: 5px solid rgba(140, 140, 140, 0.3);
  border-left: 5px solid black;
  margin: auto;
  border-radius: 50%;
  animation: spin 0.7s ease infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}